<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-web:war exploded">
    <output-path>$PROJECT_DIR$/spring-web/target/demo-0.0.1-SNAPSHOT</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-web" />
        </element>
        <element id="directory" name="lib" />
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/spring-web/target/demo-0.0.1-SNAPSHOT/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring-web/web/Web" />
    </root>
  </artifact>
</component>